.light-ball {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  box-shadow: inset 0 0 25px 0 #fff, inset 20px 0 25px #00a2ff,
    inset -18px 0 25px blue, inset 20px 0 250px #40ffd9,
    inset -18px 0 250px #4baeff, 0 0 45px #ffffff, -8px 0 80px #00ffc8,
    8px 0 70px #66f;
  animation: bounce 1s infinite alternate ease-in-out;
  z-index: 5;
}

@media (max-width: 600px) {
  .light-ball {
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    box-shadow: inset 0 0 20px 0 #fff, inset 15px 0 20px #00a2ff,
      inset -15px 0 20px blue, inset 20px 0 200px #40ffd9,
      inset -15px 0 200px #4baeff, 0 0 30px #ffffff, -6px 0 60px #00ffc8,
      6px 0 50px #66f;
    animation: bounce 1s infinite alternate ease-in-out;
    z-index: 5;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1em);
  }
}
